<h1>Holaaa</h1>
<!-- <h1> Notifcación de transacción de <%= data.kind %></h1>
<p>
    Estimado/a <%= member.nick%>:
    Le informamos que hubo una transacción de <%= data.kind %> por parte del usuario <%= user.nick %>.
    Información de la transacción:
    Nick usuario: <%= user.nick %>
    Producto: <%= data.ProductName %>
    Tipo de solicitud: <%= data.kind %>
    Cantidad: <%= data.amount %>

    Saludos!.
</p> -->
